body {
    background-color: gray;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background-color: white;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
}