body {
    background-color: rgb(190, 189, 189);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

.photo {
    border-radius: 50%;
    border: 1px solid #000;
}

#title, .subtitle, .post_title {
    color: rgb(125, 125, 128);
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #000;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

.post {
    background-color: white;
    padding: 15px;
    border: 3px solid rgb(75, 73, 73);
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_img {
    margin-bottom: 15px;
    width: 100%;
}

.content_list {
    list-style-type: none;
    padding-left: 15px;
}

.content_list li a {
    text-decoration: none;
}